* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/*global*/
.container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  height: 100%;
}

.button {
  border: none;
  background-color: #000;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  border-bottom: black solid 1px;
}

.button a {
  border: none;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.hashtags {
  font-size: 14px;
  color: #aa3a3a;
}

/*home-page*/
.home-page {
  height: 100vh;
}

/*nav*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
}

.nav .logo {
  flex: 0.50;
  justify-content: flex-start;
  font-size: 20px;
  text-transform: lowercase;
  color: black;
}

.nav-button {
  flex: 0.4;
}

.nav-button a {
  font-size: 18px;
  width: 150px;
  height: 40px;
  margin-right: 25px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  float: right;
}

.nav-button a:hover {
  background-color: white;
  color: black;
  border-bottom: solid 1px #aa3a3a;
}

.nav-button .button a {
  text-decoration: none;
}

.nav .social {
  flex: 0.1;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  top: 5px;
}

.nav .social li {
  list-style: none;
  padding: 0 0 0 20px;
}

.nav .social a {
  color: black;
}

.nav i {
  padding-bottom: 10px;
  border: 1px solid transparent;
}

.nav i:hover {
  border-bottom: #aa3a3a solid 1px;
  color: #aa3a3a;
}

/*main*/
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left {
  height: 95%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 65px;
  color: #aa3a3a;
  margin-bottom: 25px;
  position: relative;
  /* animation: headline; */
  /* animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0%; */
}

/* @keyframes headline {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%
  }
} */
.left p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;
  /* animation: paragraph; */
  /* animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0%; */
}

/* @keyframes paragraph {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%
  }
} */
.main-buttons a {
  font-size: 20px;
  width: 9em;
  height: 45px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  /* animation: buttons; */
  /* animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0%; */
}

/* @keyframes buttons {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%
  }
} */
.main-buttons a:hover {
  background-color: white;
  color: black;
  border-bottom: solid 1px #aa3a3a;
}

.overview-button {
  float: left;
  margin-right: 25px;
}

.work-button {
  float: left;
}

.right {
  background-color: #000;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 80%;
  height: 45%;
  overflow: hidden;
  position: relative;
  top: -50px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overview {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overview-left, .overview-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview-header h1 {
  font-family: cursive;
  font-size: 320px;
  color: #000;
}

.red {
  font-size: 200px;
  color: #aa3a3a;
}

.overview-body {
  width: 80%;
}

#overview p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  color: #aa3a3a;
  margin-bottom: 30px;
  height: 120px;
}

.overview-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}

.overview-icons i {
  justify-content: space-between;
  margin: 0 15px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  position: relative;
}

.overview-icons i:hover {
  border-bottom: #aa3a3a solid 1px;
  color: #aa3a3a;
}

.icon i:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: -25px;
  top: 50px;
  width: 150px;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-style: italic;
}

.overview-bg {
  background-color: #f4f4f4;
}

/** CONTENT FREEEPORT METRICS**/
#content-fm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  width: 100%;
}

.content-header h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #aa3a3a;
}

.content-body {
  width: 80%;
  line-height: 1.5em;
}

.content-body a:hover {
  color: #000;
  text-decoration: none;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.gallery-right {
  height: 66%;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  object-fit: cover;
}

.image1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}

.image2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}

.image3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
}

.image4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: hidden;
}

.gallery-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-right img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
  transition: 500ms;
}

.link-list {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.link-list ul li {
  display: inline-block;
  padding: 0 10px;
}

.link-list ul li a {
  color: #000;
  margin: 0 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  text-decoration: none;
}

.link-list ul li a:hover {
  border-bottom: #aa3a3a solid 1px;
  color: #aa3a3a;
}

/** CONTENT AGENCY*/
.content-ag-bg {
  background-color: #f4f4f4;
}

#content-agency {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.content-right-agency {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.gallery-right-agency {
  height: 90%;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  object-fit: cover;
}

.image1-agency {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}

.image2-agency {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}

.image3-agency {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
}

.image4-agency {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: hidden;
}

.image5-agency {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: hidden;
}

.gallery-right-agency img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-right-agency img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
  transition: 500ms;
}

/** CONTACT **/
#contact {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

form {
  align-self: center;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form h2 {
  font-size: 35px;
  margin-left: 10px;
}

label[for="fname"] {
  padding: 10px;
  margin-top: 20px;
}

input[type="text"] {
  border: none;
  border: 1px solid transparent;
  border-bottom: #aa3a3a solid 1px;
  padding: 10px 10px;
  outline: none;
}

input[type="text"]:hover {
  border: 1px solid #aa3a3a;
}

label[for="email"] {
  padding: 10px;
  margin-top: 20px;
}

input[type="email"] {
  border: none;
  border: 1px solid transparent;
  border-bottom: #aa3a3a solid 1px;
  padding: 10px 10px;
  outline: none;
}

input[type="email"]:hover {
  border: 1px solid #aa3a3a;
}

label[for="message"] {
  padding: 10px;
  margin-top: 20px;
}

textarea {
  border: none;
  border: 1px solid transparent;
  border-bottom: #aa3a3a solid 1px;
  padding: 10px 10px;
  outline: none;
  resize: none;
  height: 50px;
}

textarea:hover {
  border: 1px solid #aa3a3a;
}

label[for="topic"] {
  padding: 10px;
  margin-top: 20px;
}

select {
  border: none;
  padding: 10px 10px;
  outline: none;
}

input[type="submit"] {
  border: none;
  background-color: #aa3a3a;
  padding: 10px 10px;
  margin-top: 30px;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: 1px solid transparent;
}

input[type="submit"]:hover {
  border: 1px solid #aa3a3a;
  ;
  background-color: #fff;
  color: #aa3a3a;
}

.content-body a {
  color: #000;
}

/**FOOTER**/
footer {
  height: 15vh;
  background-color: #aa3a3a;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer a {
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}

.footer-left {
  margin-top: 25px;
}

.footer-left a:hover {
  color: black;
  padding-bottom: 10px;
  border-bottom: solid 1px #000;
}

.footer-center {
  margin-top: 25px;
}

.footer-center ul {
  display: flex;
}

.footer-center ul li {
  list-style: none;
  padding: 0 0 0 40px;
}

.footer-center a:hover {
  color: black;
  padding-bottom: 10px;
  border-bottom: solid 1px #000;
}

.footer-right {
  margin-top: 25px;
}

.footer-right a:hover {
  color: black;
  padding-bottom: 10px;
  border-bottom: solid 1px #000;
}

/**MEDIA QUERIES BELOW 800PX**/

@media only screen and (max-width: 800px) {
  .nav-button a {
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-right: 0px;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .main h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  .main p {
    font-size: 15px;
  }

  .main-buttons a {
    font-size: 15px;
    width: 9em;
  }

  .left {
    height: 50vh;
    width: 90%;
  }

  .right {
    height: 50vh;
  }

  .hero-image {
    top: 0px;
  }

  #overview {
    grid-template-columns: 1fr;
  }

  .overview-header h1 {
    font-size: 200px;
    margin-bottom: -25px;
  }

  #overview p {
    font-size: 15px;
    line-height: 1.3em;
    height: 100%;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  .overview-icons i {
    padding-bottom: 0px;
  }

  #content-fm {
    grid-template-columns: 1fr;
    height: auto;
  }

  .content-left {
    margin-bottom: 80px;
    height: 100%;
  }

  .content-right {
    height: 100%;
  }

  .gallery-right {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .link-list {
    height: 200px;
  }

  .link-list ul li {
    padding: 10px 0px;
    font-size: 15px;
  }

  #content-agency {
    grid-template-columns: 1fr;
    height: auto;
  }

  .content-header {
    padding-top: 50px;
  }

  .gallery-right-agency {
    grid-template-columns: 1fr;
  }

  #contact {
    grid-template-columns: 1fr;
  }

  .contact-left {
    margin-top: 50px;
  }

  textarea {
    padding: 25px 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/**MEDIA QUERIES BELOW 800PX**/
@media only screen and (max-width: 400px) {
  #up {
    height: 50px;
    border-top: 1px solid #aa3a3a;
  }

  nav .social li {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-button {
    margin-right: 0px;
  }


  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main p {
    font-size: 12px;
    margin: 3px 0;
  }

  .left h1 {
    font-size: 35px;
    color: #aa3a3a;
    margin: 0px 0px;
    position: relative;
    position: relative;
    top: -10px;
  }

  .main-buttons {
    display: flex;
    justify-content: space-between;
  }

  .main-buttons a {
    font-size: 12px;
    width: 9em;
    height: 40px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .left {
    height: 50vh;
    margin-bottom: 0px;
  }

  .right {
    height: 40vh;
    margin-top: 0px;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    top: -0px;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overview-left, .overview-right {
    height: auto;
    width: 100%;
  }

  .overview-header {
    padding: 0px 0px;
    margin: 0px 0px;
  }

  .overview-header h1 {
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 80px;
  }

  .red {
    font-size: 50px;
    color: #aa3a3a;
  }

  #overview p {
    font-size: 12px;
    line-height: 1.3em;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 0px;
  }

  .overview-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .overview-icons i {
    padding: 3px 0px;
  }

  #content-fm .content-header {
    padding: 0px 0px;
  }

  #content-fm .gallery-right {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .link-list {
    height: 100px;
  }

  #content-agency .content-header {
    padding: 0px 0px;
  }

  .gallery-right-agency {
    margin-top: 0px;
  }

  #contact {
    height: auto;
    margin-bottom: 20px;
  }

  form h2 {
    margin-top: 30px;
    font-size: 20px;
  }

  footer {
    height: auto;
  }

  .footer-left {
    margin-top: 15px;
  }

  .footer-center ul li {
    padding: 0 10px 0 10px;
  }

  .footer-right {
    margin-bottom: 15px;
  }
}
